.intro {
  display: flex;
  max-width: 1180px;
  width: 100%;
  max-height: 442px;
  height: 100%;
}

.intro__wrapper {
  max-width: 527px;
  padding-top: 43px;
  width: 100%;
}

.intro__title {
  @include text(48px,60px,600,$basic-white);
}

.intro__subject {
  @include text(23px,31px,350,$basic-white);
  margin-top: 30px;
  padding-right: 21px;
}

.intro__link {
  display: inline-block;

  @include text(18px,18px,600,$basic-white);
  margin-top: 60px;
  margin-bottom: 180px;
  padding: 16px 60px;
  background-color: $button;
  border-radius: 4px;
  text-decoration: none;

  &:hover {
    @include btn-hover($button, $basic-white);
  }
}

.intro__pic {
  & img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: $tablet-width) {
  .intro {
    display: flex;
    max-width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 0 60px;
  }

  .intro__wrapper {
    max-width: 40%;
    padding-top: 30px;
    margin: 0 auto;
  }

  .intro__title {
    @include text(32px,45px,600,$basic-white);
  }

  .intro__subject {
    @include text(18px,26px,350,$basic-white);
    margin-top: 30px;
  }

  .intro__link {
    display: inline-block;

    @include text(18px,18px,600,$basic-white);
    margin-top: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    background-color: $button;
    border-radius: 4px;
    text-decoration: none;
  }

  .intro__pic {
    margin-left: 20px;
  }

  @media (max-width: $mobile-width) {
    .intro {
      flex-direction: column;
      max-width: 100%;
      height: auto;
      margin-top: 20px;
      padding: 0 20px;
    }

    .intro__wrapper {
      max-width: 80%;
      padding-top: 15px;
      text-align: center;
    }

    .intro__pic {
      margin: 50px auto 0;
      max-width: 80%;
    }

    .intro__link {
      margin: 30px auto 0;
      max-width: 360px;
    }
  }
}
