@font-face {
  font-family: "Whitney";
  src: local(""),
    url("../fonts/Whitney-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Whitney-Semibold.woff") format("woff"),
    url("../fonts/Whitney-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local(""),
    url("../fonts/Whitney-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Whitney-Medium.woff") format("woff"),
    url("../fonts/Whitney-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local(""),
    url("../fonts/Whitney-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Whitney-Light.woff") format("woff"),
    url("../fonts/Whitney-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local(""),
    url("../fonts/Whitney-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Whitney-Bold.woff") format("woff"),
    url("../fonts/Whitney-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  src: local(""),
    url("../fonts/Whitney-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Whitney-Black.woff") format("woff"),
    url("../fonts/Whitney-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

