// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$main-accent: #fe7865;
$accent-focus: #f17d4b;
$darkest: #141517;
$dark: #2c2e3f;
$modal: #fbf8f8;
$modal-message: #48494d;
$bg-color: #f2f3f4;
$lines: #d7d9df;

// Breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1920px;
