// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$bg-start: #2d1686;
$bg-end: #4e33b5;
$input: #dddae7;
$shadow: #1c182f;

// Breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1920px;
