// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$bg-start: #2d1686;
$bg-end: #4e33b5;
$input: #dddae7;
$shadow: #1c182f;
$button: #f25b24;
$title: #2e2d35;
$text: #474351;
$bg-feature: #f6f5f9;
$placeholder: #918d9a;

// Breakpoints
// mobile: 400px, tablet: 768px, desktop: 1024px
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1920px;
